/* Set a global font style and size */
body {
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing:1px;
  color: #1e1e1e;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Headings */
h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  color: #1e1e1e;
  font-size: 36px;
  line-height: 42px;
  font-family: 'Spectral', serif;
  letter-spacing:1.3px;
  font-weight:400;
  font-style: italic;
  padding-bottom: 1em;
}

h2 {
  color: #1e1e1e;
  font-family: 'Spectral', serif;
  font-size: 30px;
  line-height: 40px;
  letter-spacing:1.3px;
  font-weight: normal;
}

h3 {
  color: #1e1e1e;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Spectral', serif;
  letter-spacing:1.3px;
  font-style: italic;
}

blockquote {
  color: #1e1e1e;
  font-family: 'Spectral', serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing:1.3px;
  line-height: normal;
  margin: 0em;
  font-weight: normal;
  font-style: italic;
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}


/* Links */
a {
  color: #141414;
  text-decoration: none;
  cursor: pointer;

}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Adjust the thickness */
  text-underline-offset: 6px; /* Adjust this value to move the underline further below */
  text-decoration-style: dotted;

}

a.active {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Adjust the thickness */
  text-underline-offset: 6px; /* Adjust this value to move the underline further below */
  text-decoration-style: dotted;
}



/* button */

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #77C875;
  color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e8b57;
}

footer {
  padding: 20px; /* Adjust the padding as needed */
  color: #747474; /* Text color */
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}

header {
  width: 92%; /* Ensure it takes up the full width of the page */
   /* position: fixed;Make it sticky */
  top: 0;
  left: 0%;
  background-color: #f9f9f9; /* Or whatever background color you want */
  z-index: 1000; /* Ensure it stays on top of other content */
  /*margin: 0 auto;  Center the content */
  padding: 4%; /* Add padding as needed */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 6em;
}

.vishaka {
  flex: 1;
  font-size: 22px !important;
  line-height: 30px !important;
}

/* landing/about page styling */
.base-page {
  max-width: 50%;
  margin: 0 auto;
  padding: 2em 2em;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column; /* Stacks elements vertically */
}

.base-page-intro {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  /* align-items: flex-start; Aligns text to the left */
}

.statictext {
text-align: left;
display: block;
flex-wrap: wrap;
align-items: center;
}

.statictext h1,
.statictext h3 {
  margin: 0;
  display: inline-block; /* Makes them flow together */
}


.typer {
display: inline;
text-align: left;
color: #77C875;
align-items: center;
width: 100%; /* or a fixed width like 500px */
font-style: italic;
font-size: 36px;
height: 42px;
}

.external-links {
  display: flex;
  flex-direction: column;
  gap:1em;
  padding-top: 4em;
  width: 100%;

}
.aboutinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between image and text */

}



.about-image {
  width: 100%; /* Adjust the width as needed */
  height: auto;  
  flex-shrink: 0; /* Prevent the image from shrinking */
  border-radius: 0px; /* Optional: Add some rounded corners */
}

.about-page-content {
  text-align: left;
  width: 100%;
}

.logo-section {
padding: 2em;
width: 100%;
}

.logo-container {
display: flex;
justify-content: space-around; /* Distribute space evenly between logos */
flex-wrap: wrap; /* Allows wrapping if there are too many logos */
padding: 3em 0em;
}

.logo-container img {
height: 4em; /* Adjust the size of the logos */
width: auto; /* Maintain aspect ratio */
filter: grayscale(100);
padding: 1em;
}




/*project tiles styling on home page*/
.projects {
  display: flex;
  flex-direction: column;
  gap: 4em;

}

/* case study tile */
.case-study-tile {
display: flex;
flex-direction: column;
align-items: center;
}

.case-study-image-wrapper {
display: block;
position: relative; /* Establish a positioning context */
}

.case-study-image {
width: 100%;
height: auto;
transition: transform 0.3s ease-in-out;
display: block; /* Ensure it takes up the container properly */
}

.case-study-image-wrapper {
display: flex; /* Apply flexbox to center content */
align-items: baseline; /* Vertically center the image */
justify-content: center; /* Horizontally center the image */
transition: transform 0.3s ease;
}

.case-study-image-wrapper:hover .case-study-image {
transform: scale(1.03);
transform-origin: center; /* Ensure zoom effect is centered */
}


.tile-description {
  display: flex;
  flex-direction: column;
  align-items: left; /* Ensures vertical alignment */
  width: 100%;
  padding-top: .5em;
}

.tile-description-element {
  margin: 0;
  padding: 0 !important;
}


/* case study pages */
.case-study-container {
  max-width: 100%;
}

.case-study-content-wrapper {
  display: flex; /* Apply flexbox to center the content */
  width: 100%;
  justify-content: center; /* Center content horizontally */
  overflow: visible;
}

.case-study-content {
  max-width: 50%; /* Set maximum width for content */
  width: 100%; /* Ensure content takes up full width of the wrapper */
}

/* General table styling */
.case-study-content table {
width: 90%; 
border-collapse: collapse; /* Merge borders of adjacent cells */
margin: 1.5em 0; /* Add margin to separate from other content */
}

/* Style table headers */
th {
text-transform: uppercase;
padding: .25em .5em; /* Add padding to make the text more readable */
padding-left: 0 !important;
text-align: left; /* Align text to the left */
border-bottom: 1px solid #ddd; /* Add a bottom border to headers */
color: #747474;
font-size: 20px;
}

/* Style table rows */
td {
  padding: .25em .5em; /* Add padding to make the text more readable */
  padding-left: 0 !important;
  text-align: left; /* Align text to the left */
}

.case-study-content h2 {
margin-top: 2em; /* Adjust this value as needed */
}



/* Responsive adjustments */
@media (max-width: 900px) {
header {
  width: 100%;
  flex-direction: column; /* Stack items vertically */
  align-items: left; /* Center items horizontally */
  padding: 1em 0em .25em 0em; /* Further reduce padding */
  gap: .25em;
  position: fixed; /* Make it sticky */
  top: 0;
  left: 0;
  font-size: 16px;
  }

  .base-page {
    max-width: 80%;
    margin: 0 auto;
    padding: 14em 0em 5em 0em;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column; /* Stacks elements vertically */
  }


  .case-study-content {
      max-width: 90%; /* Allows content to take up more space on smaller screens */
      padding: 10em 0em 0em 0em;
    }

  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr) !important; /* Adjust number of columns as needed */
    gap: 2em;
    }
}


/* password pages */
.passwordpage form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  flex-wrap: wrap;
  gap: 2em;
}


.passwordinput {
  flex: 1;
  width: 100%; /* Full width */
  max-width: 400px; /* Max width for the input */
  padding: .5em; /* Padding inside the input */
  font-size: 1em; /* Font size */
  font-family: 'Karla', sans-serif; /* Font family */
  border: 2px solid #47b566; /* Border color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove the default outline */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus state */
  margin-right: 16px;
  min-width: 200px;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 10em; /* Adjust this value based on your header height */
}

img {
  max-width: 100%; /* Constrain images to a maximum width of 800px */
  height: auto; /* Maintain aspect ratio */
}


/* grid on misc page */ 

.grid-section {
  width: 100%;
}

.grid-container {
display: grid;
width: 100%;
grid-template-columns: repeat(2, 1fr); /* Adjust number of columns as needed */
gap: 2em;
}

.grid-item {
display: flex;
flex-direction: column; /* Stacks text above the image */
align-items: left;
}



.grid-item img {
width: 100%;
height: auto;
object-fit: cover;
aspect-ratio: 3 / 2;
}

.tools-section {
padding: 2em;
padding-top: 4em;
width: 100%;
}

.tools-table {
width: 100%;
border-collapse: collapse;
text-align: left;
margin: 1rem 0;
font-size: 1rem;
}

.tools-table thead th {
border-bottom: 0px solid #ddd;
font-weight: bold;
}

.tools-table tbody td {
font-style: italic;
font-weight: light;
color: #333;
width:18%;
}