/* Set a global font style and size */
body {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1.5px;
  color: #1e1e1e;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Headings */
h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  color: #1e1e1e;
  font-size: 36px;
  line-height: 42px;
  font-family: 'Spectral', serif;
  letter-spacing:1.3px;
  font-weight:400;
  font-style: italic;
  padding-bottom: 1em;
}

h2 {
  color: #1e1e1e;
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing:1.3px;
  font-weight: normal;
}

h3 {
  color: #1e1e1e;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Karla', sans-serif;
  letter-spacing:1.3px;
  font-style: italic;
}

blockquote {
  color: #1e1e1e;
  font-family: 'Spectral', serif;
  font-size: 40px;
  line-height: 44px;
  letter-spacing:1px;
  margin: 0em;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}


/* Links */
a {
  color: #141414;
  text-decoration: none;
  cursor: pointer;

}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Adjust the thickness */
  text-underline-offset: 6px; /* Adjust this value to move the underline further below */
  text-decoration-style: dotted;

}

a.active {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Adjust the thickness */
  text-underline-offset: 6px; /* Adjust this value to move the underline further below */
  text-decoration-style: dotted;
}

/* Default cursor for the body or specific elements */
body {
  cursor: url('/1.svg'), auto; /* Custom default cursor */
}

/* Custom cursor on hover for specific elements */
button:hover, a:hover {
  cursor: url('/2.svg'), pointer; /* Change cursor on hover */

}
 
/* Example for all links */
a {
  cursor: url('/1.svg'), pointer; /* Custom cursor for links */
}




/* button */

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #77C875;
  color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e8b57;
}

footer {
  padding: 20px; /* Adjust the padding as needed */
  color: #747474; /* Text color */
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}

header {
  height: 2em; /* Adjust as needed */
  width: 92%; /* Ensure it takes up the full width of the page */
  top: 0;
  left: 0%;
  background-color: #f9f9f9; /* Or whatever background color you want */
  z-index: 1000; /* Ensure it stays on top of other content */
  padding: 4%; /* Add padding as needed */
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 6em;
}

.vishaka {
  flex: 1;
  font-size: 22px !important;
  line-height: 44px !important;
  align-self: baseline;
}

/* landing/about page styling */
.base-page {
  width: 92%; /* Ensure it takes up the full width of the page */
  margin: 0 auto;
  padding: 2em 2em;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column; /* Stacks elements vertically */
  min-height: 60vh;
}

.intro-content {
  align-items: center; /* Centers vertically */
  width:60%;
  height: 60vh;
}

.interactive-word {
  position: relative;
  display: inline-block;
  color: var(--hover-color);
  transition: all 0.3s ease-in-out;
}

.interactive-word:hover {
  background-color: var(--hover-color);
  color: white;
}

/* Tooltip Style */
.tooltip {
  position: absolute;
  width: 96% -2px;
  top: 100%;
  left: 0%;
  background-color: white;
  color: black;
  padding: 2%;
  font-family: 'Karla', sans-serif; /* Font family */
  font-style: normal;
  font-size: .5em;
  border: 1px solid var(--hover-color); /* This ensures the border is visible */
  text-wrap: wrap;
  line-height: 28px;
  opacity: 1;
  z-index: 1000; /* Ensure it stays on top of other content */
}

/* Sketch Styling */
.sketch-visible {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20%;
  opacity: .5;
  transition: opacity 0.3s ease-in-out;
  z-index: -1; /* Keeps it in the background */
}



.external-links {
  display: flex;
  flex-direction: column;
  gap:1em;
  padding-top: 4em;
  width: 100%;

}
.aboutinfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: top;
  gap: 20px; /* Space between image and text */

}



.about-image {
  width: 300px; /* Adjust the width as needed */
  height: auto;  
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.about-page-content {
  text-align: left;
  width: 100%;
}

.logo-section {
padding: 2em;
width: 100%;
}

.logo-container {
display: flex;
justify-content: space-around; /* Distribute space evenly between logos */
flex-wrap: wrap; /* Allows wrapping if there are too many logos */
padding: 3em 0em;
}

.logo-container img {
height: 4em; /* Adjust the size of the logos */
width: auto; /* Maintain ratio */
filter: grayscale(100);
padding: 1em;
}




/*project tiles styling on home page*/
/* Projects grid */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 0em; /* Adjust spacing as needed */
  width: 100%;
  max-width: 1200px; /* Optional: prevent overly wide layout */
  margin: 0 auto; /* Center the grid */
}


.case-study-tile {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Image background */
.case-study-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.case-study-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

/* Hover effect: zoom-in */
.case-study-tile:hover .case-study-image {
  transform: scale(1.03);
}

/* Logo Styling */
.case-study-logo {
  position: absolute;
  top: 5%;
  width: 225px; /* Adjust size */
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.case-study-description {
  position: absolute;
  top: 0%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
  width: 90%; /* Adjust the width to give room for wrapping */
  font-size: 1em;
  text-align: center;
  mix-blend-mode: difference;
  color: white; /* Fallback color */
  padding: 1em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  word-wrap: break-word; /* Ensures long words break to the next line */
}

/* Show description, hide logo on hover */
.case-study-tile:hover .case-study-logo {
  opacity: 0;
}

.case-study-tile:hover .case-study-description {
  opacity: 1;
}

.case-study-tags {
  position: absolute;
  top: 80%;
  left: 0%; /* Center horizontally */
  z-index: 1;
  width: 100%; /* Adjust the width to give room for wrapping */
  display: flex;
  justify-content: center;
  gap: .25em;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.case-study-tile:hover .case-study-tags {
  opacity: 1;
}

.case-study-tag {
  background-color: rgba(0, 0, 0, 0.65);
  padding: .25em .5em;
  color: white;
  font-size: .75em;
  text-decoration: none !important;
}



/* case study pages */
.case-study-container {
  max-width: 100%;
}

.case-study-content-wrapper {
  display: flex; /* Apply flexbox to center the content */
  width: 100%;
  justify-content: center; /* Center content horizontally */
  overflow: visible;
}

.case-study-content {
  max-width: 60%; /* Set maximum width for content */
  width: 100%; /* Ensure content takes up full width of the wrapper */
}

.case-study-body blockquote {
  color: var(--blockquote-color, black); /* Default to black if undefined */
}


/* General table styling */
.case-study-content table {
width:100w - .5em; 
border-collapse: separate; 
margin: 1.5em -.5em; /* Add margin to separate from other content */
border-spacing: .5em 0em; /* Adjust this value for more/less spacing */
}

/* Style table headers */
th {
color: #1e1e1e;
font-family: 'Spectral', serif;
font-size: 30px;
line-height: 40px;
letter-spacing:1.3px;
font-weight: normal;
padding: .5em;
padding-bottom: .25em !important;
text-align: left; /* Align text to the left */
border: 1px solid #ddd; /* Adds a border around each column */
border-bottom: none; /* Only a bottom border */
}

/* Style table rows */
td {
  padding: .25em .5em;
  text-align: left; /* Align text to the left */
  border-left: 1px solid #ddd; /* Only a bottom border */
  border-right: 1px solid #ddd; /* Only a bottom border */
  border-bottom: none; /* Only a bottom border */
  border-top: none; /* Remove top border to prevent double lines */
}


tr:last-child td {
  border-bottom: 1px solid #ddd; /* Only a bottom border */
}

.case-study-content h2 {
margin-top: 2em; /* Adjust this value as needed */
}

.info-container {
  display: flex;
  gap: 1em; /* Adds space between notes */
  justify-content: center; /* Centers them in the row */
  flex-wrap: wrap; /* Ensures they wrap if the screen is small */
  margin-top: 1em;
  margin-bottom: 2em;
}

.info-block {
  background-color: #F3F3F3;
  padding: 1.5em;
  text-align: left;
  flex: 1; /* Allows them to be flexible */
  min-width: 150px; /* Ensures they don't shrink too much */
  max-width: 500px; /* Optional: Prevents them from getting too large */
}

.info-title {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: .5em;
}

.process-flow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1em; /* Space between steps */
  flex-wrap: wrap; /* Ensures wrapping on smaller screens */
  position: relative;
  padding-top: 1em;
  padding-bottom: 2em;
}

.process-step {
  position: relative;
  display: flex;
  flex-direction: column; /* Stack title and description */
  align-items: left;
  text-align: left;
  padding-right: .5em;
  padding-left: .25em;
  flex: 1 1 50px; /* Grow, shrink, and set a min width */
}

.process-step:first-child {
  padding-left: 0px !important;
}

/* Styling for the title */
.process-title {
  font-weight: bold;
}

/* Styling for the description */
.process-desc {
  margin-top: .25em;
  font-size: .75em;
  line-height: 1.25em;
}



.sketch-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.sketch {
  position: absolute;
  width: 20vw; /* 20% of viewport width */
  max-width: 300px; /* Set a max size */
  opacity: 0.08;
  transition: opacity 0.5s ease-in-out;
}


.sketch.visible {
  opacity: .3;
}




/* Responsive adjustments */
@media (max-width: 900px) {
header {
  width: 100%;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */  padding: 1em 0em .25em 0em; /* Further reduce padding */
  gap: .25em;
  position: fixed; /* Make it sticky */
  top: 0;
  left: 0;
  font-size: 16px;
  height: fit-content;
  }

  .vishaka {
    align-self:auto;
    }

  .base-page {
    max-width: 100%;
    margin: 0 auto;
    padding: 14em 0em 5em 0em;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column; /* Stacks elements vertically */
  }


  .case-study-content {
      max-width: 90%; /* Allows content to take up more space on smaller screens */
      padding: 10em 0em 0em 0em;
    }

  .projects {
    grid-template-columns: repeat(1, 1fr); /* Two equal columns */
  }

  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr) !important; /* Adjust number of columns as needed */
    gap: 0em;
    }
}


/* password pages */
.passwordpage form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  flex-wrap: wrap;
  gap: 2em;
}


.passwordinput {
  flex: 1;
  width: 100%; /* Full width */
  max-width: 400px; /* Max width for the input */
  padding: .5em; /* Padding inside the input */
  font-size: 1em; /* Font size */
  font-family: 'Karla', sans-serif; /* Font family */
  border: 2px solid #47b566; /* Border color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove the default outline */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus state */
  margin-right: 16px;
  min-width: 200px;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 10em; /* Adjust this value based on your header height */
}

img {
  max-width: 100%; /* Constrain images to a maximum width of 800px */
  height: auto; /* Maintain aspect ratio */
}


/* grid on misc page */ 

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 0em; /* Adjust spacing */
}

.grid-item {
  position: relative; /* Needed for absolute positioning of the overlay */
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: rgba(54, 54, 54, 0.7); /* Semi-transparent black background */
  color: white;
  text-align: center;
  font-size: .75em;
  padding: 5%;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.grid-item:hover .overlay-text {
  opacity: 1;
  transform: translateY(0); /* Moves up into view */
}




.grid-item img {
width: 100%;
height: auto;
object-fit: cover;
aspect-ratio: 3 / 2;
}

.tools-section {
padding: 2em;
padding-top: 4em;
width: 100%;
}

.tools-table {
width: 100%;
border-collapse: collapse;
text-align: left;
margin: 1rem 0;
font-size: 1rem;
}

.tools-table thead th {
border-bottom: 0px solid #ddd;
font-weight: bold;
}

.tools-table tbody td {
font-style: italic;
font-weight: light;
color: #333;
width:18%;
}


.about-container {
  display: flex;
  flex-direction: row;
  gap: 1em; /* Adds space between notes */
  justify-content: center; /* Centers them in the row */
  flex-wrap: wrap; /* Ensures they wrap if the screen is small */
  margin-top: 1em;
  margin-bottom: 2em;
}

.about-block {
  background-color: #F3F3F3;
  padding: 1.5em;
  text-align: left;
  flex: 1; /* Allows them to be flexible */
  min-width: 150px; /* Ensures they don't shrink too much */
  max-width: 100%; /* Optional: Prevents them from getting too large */
}


.aboutinfo {
  position: relative;
}


.card {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  gap:1em;
  height: 300px; /* Adjust this as needed */
  outline: 2px solid;
  top: 3em;
  background-color: #f9f9f9;
  max-width: 100%;
}


.card-content {
  text-align: left;
  padding: 1em;
}

.card-image {
  min-width: 50%;
  width: 50%;
  max-height: 100%;
  object-fit:cover;
}