html {
    max-width: 100%;
    overflow-x: hidden;

}


/* Set a global font style and size */
body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1e1e1e;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;

}

/* Headings */
h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  color: #1e1e1e;
  font-size: 60px;
  line-height: 76px;
  font-family: 'Spectral', serif;
  font-style: italic;
  padding-bottom: 1em;
  font-weight: 300;

}

h2 {
  color: #1e1e1e;
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  line-height:32px;
  letter-spacing:1.3px;
  font-weight: bold;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1e1e1e;
  text-transform: uppercase;
  padding: .25em 0em;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1e1e1e;
  text-transform: uppercase;
  padding: .25em 0em;
}

blockquote {
  color: #1e1e1e;
  font-family: 'Spectral', serif;
  font-size: 40px;
  line-height: 44px;
  letter-spacing:1px;
  margin: 0em;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: .5em;
}


/* Links */
a {
  color: #141414;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #0EA814;
}

a.active a::after{
  color: #0EA814;
}

/* Default cursor for the body or specific elements */
body {
  cursor: url('/1.svg'), auto; /* Custom default cursor */
}

/* Custom cursor on hover for specific elements */
button:hover, a:hover {
  cursor: url('/2.svg'), pointer; /* Change cursor on hover */

}
 
/* Example for all links */
a {
  cursor: url('/1.svg'), pointer; /* Custom cursor for links */
}




/* button */

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #77C875;
  color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e8b57;
}

footer {
  padding: 4em 0em; /* Adjust the padding as needed */
  color: #747474; /* Text color */
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  width: 100vw;
  text-transform: lowercase;
}

header {
  position: sticky;
  top: 2%;
  left: 2%;
  z-index: 1000;
  background-color: #f9f9f9;
  height: 3em;
  width: 96%;
  box-sizing: border-box;
  padding: 1% 3%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3em;
  opacity: 80%;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* ← Subtle shadow */
}

.vishaka {
  flex: 1;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1e1e1e;
}

.vishaka a {
  text-decoration: none;
}

.base-page-home {
  width: 70%; /* Ensure it takes up the full width of the page */
  padding: 0% 5%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: left; /* Centers vertically */
  flex-direction: column; /* Stacks elements vertically */
  word-break: keep-all;      /* Don't break words arbitrarily */
  overflow-wrap: normal;     /* Let browser wrap only at spaces */
  line-break: auto;  
  height: 80vh; 
}


.interactive-word {
  position: relative;
  display: inline-block;
  color: #0EA814;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.interactive-word:hover {
  text-decoration: underline;
  text-decoration-color: #0EA814;
  text-decoration-thickness: 1.5px; /* Adjust the thickness */
  text-underline-offset: 6px; /* Adjust this value to move the underline further below */
  text-decoration-style: solid;
}



/* Tooltip Style */
.tooltip {
  position: fixed;
  width:200px;
  background-color: #f9f9f9;
  padding: 2%;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1e1e1e;
  text-wrap: wrap;
  opacity: 1;
  z-index: 1000; /* Ensure it stays on top of other content */
  transition: opacity 0.2s ease, transform 0.2s ease;
  transform: translateY(-10px);
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* ← Subtle shadow */
}

/* Sketch Styling */
.sketch-visible {
  position: fixed;
  top: 40%;
  left: 75%;
  max-width: 200px;
  transition: opacity 0.3s ease;
  z-index: 500;
}

.fade {
  opacity: 1;
}


.external-links {
  display: flex;
  flex-direction: column;
  gap:1em;
  padding-top: 4em;
  width: 100%;

}
.aboutinfo {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: top;
  gap: 2em; /* Space between cards */

}




.about-page-content {
  text-align: left;
  width: 100%;
}

.section-header {
  width: 90%;
  justify-content: left;
  padding: 2% 5%;
}

.intro-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4em;
}

.list-section {
  position: relative;
  max-width: 75%;
}

.intro-lists .list-section {
  max-width: 25%;
}

.list-section-title {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1e1e1e;
  text-transform: uppercase;
  padding: .25em 0em;
}

.list-section-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin-bottom: .75em;
  color: #1e1e1e;
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1.3px;
  font-weight: bold;
  text-align: left;
  word-wrap: break-word; 
  z-index: 1;
}

.item-sub {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  z-index: 1;
  max-width: 65%;
}

.hover-image {
  max-width: 50%;
  height: auto;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transform: translateY(-10px);
  z-index: -1 !important;
  pointer-events: none;
  overflow: hidden;
  padding: none;
}

.tooltip-image {
  z-index: -1;
  object-fit: cover;

}


/*project tiles styling on home page*/
.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; /* Center the grid */
  justify-content: left;
  border-bottom: 0.5px solid #1e1e1e;
}

.projects a {
  padding: 0px !important;
  margin: 0px !important;
  text-decoration: none;
}

.case-study-tile {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  border-top: 0.5px solid #1e1e1e;
  align-items: flex-start; 
  background-color: transparent; 

}


/* Image background */
.case-study-image-wrapper {
  flex: 0 0 65%; 
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: transparent; 
}

.case-study-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  transform: scale(1.05);

}

.case-study-details {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}


/* Hover effect: zoom-in */
.case-study-tile:hover .case-study-image {
  transform: scale(1.07);
}

.case-study-tile-content {
  display: flex;
  flex-direction: column;
  padding: 2% 5%;
  height: 100%;
}

.case-study-main {
  top: 0;
  position: sticky;
}

.case-study-description {
  width: 100%; 
  color: #1e1e1e;
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1.3px;
  font-weight: bold;
  text-align: left;
  padding-bottom: .25em; 
  word-wrap: break-word; 
  hyphens: auto;
  transition: color 0.3s ease;

}

.case-study-tile:hover .case-study-description {
    color: var(--description-color,#1e1e1e);
}

.case-study-footer {
  position:sticky;
  gap: 1em;
}

.case-study-tags {
  width: fit-content; /* Adjust the width to give room for wrapping */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: .25em;
}


.case-study-tag {
  color: #1e1e1e;
  font-size: 1em;
  text-decoration: none !important;
}

.case-study-tag::after {
  content: ",";
}

/* Remove the comma after the last tag */
.case-study-tag:last-of-type::after {
  content: "";
}

.case-study-year {
  padding: .25em 0em;
  color: #1e1e1e;
  text-decoration: none !important;
  text-transform: uppercase;
}

.case-study-link {
  padding: .5em;
  border-radius: 10px;
  border: 1.5px solid;
  transform: translateY(-10px);
}

.case-study-link a {
  color: #1e1e1e;
}

/* archive + about sections */
.archive {
  scroll-margin-top: -30vh;
  width: 90%;
  justify-content: left;
  padding: 20vh 5% 2% 5%;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0em; /* Adjust spacing */
  overflow: hidden;
}

.grid-item {
    overflow: hidden;
}


.grid-item img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* case study pages */
.case-study-container {
  max-width: 100%;
}

.case-study-content-wrapper {
  display: flex; /* Apply flexbox to center the content */
  width: 90%;
  justify-content: left; /* Center content horizontally */
  overflow: visible;
  padding-left: 5%;
  padding-top: 5em;
}

.case-study-content {
  max-width: 60vw; /* Set maximum width for content */
  width: 100%; /* Ensure content takes up full width of the wrapper */
}

.case-study-body {
  padding-bottom: 6em;
}

.case-study-body blockquote {
  color: var(--blockquote-color, black); /* Default to black if undefined */
  padding-top: 3em; /* Adjust this value as needed */
  padding-bottom: .5em;
}

.case-study-body p {
  max-width: 100%; /* Limit paragraph width */
  width: 100%; /* Ensures it doesn’t exceed max-width */
  margin: 0 auto; /* Centers the paragraph container */
  padding-bottom: 0em;
}


.case-study-body h4 {
  width: 100%; /* Ensures it doesn’t exceed max-width */
  margin: 0 auto; /* Centers the paragraph container */
  padding-top: 3em; /* Adjust this value as needed */
  padding-bottom: .5em;
}

.gatsby-resp-image-wrapper {
  width: 100vw;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}

.case-study-body img,
.gatsby-resp-image-wrapper img {
  margin-left: -5vw !important;
  height: auto;
  position: relative;
  width: 100vw;
  max-width: 100vw !important;
  margin-top: 2em;
  margin-bottom: 2em;
}

.info-container {
  display: flex;
  gap: 1em; /* Adds space between notes */
  justify-content: center; /* Centers them in the row */
  flex-wrap: wrap; /* Ensures they wrap if the screen is small */
  margin-top: 1em;
  margin-bottom: 2em;
}

.info-block {
  text-align: left;
  flex: 1; /* Allows them to be flexible */
  min-width: 150px; /* Ensures they don't shrink too much */
  max-width: 500px; /* Optional: Prevents them from getting too large */
}

.info-title {
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: .5em;
}

.process-flow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1em; /* Space between steps */
  flex-wrap: wrap; /* Ensures wrapping on smaller screens */
  position: relative;
  padding-top: 1em;
  padding-bottom: 2em;
}

.process-step {
  position: relative;
  display: flex;
  flex-direction: column; /* Stack title and description */
  align-items: left;
  text-align: left;
  padding-right: .5em;
  padding-left: .25em;
  flex: 1 1 50px; /* Grow, shrink, and set a min width */
}

.process-step:first-child {
  padding-left: 0px !important;
}

/* Styling for the title */
.process-title {
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: .5em;
}

/* Styling for the description */
.process-desc {
  margin-top: .25em;
}


/* Responsive adjustments */
@media (max-width: 900px) {
header {
  width: 100vw;
  justify-content: center;
  padding: .5em; /* Further reduce padding */
  gap: 1em;
  top: 0;
  left: 0;
  height: fit-content;
  border-radius: 0;
  }

  .base-page-home {
    padding-top: 3em;
    height:auto;
    width: 90vw;
  }
  .intro-lists {
    flex-direction:column;
    height: auto !important;
  }

  .list-section {
    max-width: 100% !important;
  }

  .case-study-tile {
    flex-direction: column;
  }


    
    .case-study-content {
      max-width: 80vw; /* Set maximum width for content */
      width: 100%; /* Ensure content takes up full width of the wrapper */

    }

    .case-study-body p {
      max-width: 100%; /* Limit paragraph width */
      width: 100%; /* Ensures it doesn’t exceed max-width */
      margin: 0 auto; /* Centers the paragraph container */
    }

    .case-study-body h2 {
      max-width: 100%; /* Limit paragraph width */
      width: 100%; /* Ensures it doesn’t exceed max-width */
      margin: 0 auto; /* Centers the paragraph container */
      margin-top: 1em; /* Adjust this value as needed */
    }

    .gatsby-resp-image-wrapper {
      max-width: 100vw !important; /* Make it larger than viewport */
      width: 100vw !important; /* Expand beyond container */
    }

}


/* Responsive adjustments */
@media (max-width: 300px) {
header {
  width: 100vw;
  justify-content: center;
  padding: .25em; /* Further reduce padding */
  gap: .5em;
  left: 0;
  font-size: 16px;
  height: fit-content;
  }

  .base-page-home {
    height: auto;
  }

  .intro-lists {
    flex-direction:column;
    height: auto !important;
  }

  .list-section {
    max-width: 100% !important;
  }

  .case-study-tile {
    flex-direction: column;
  }


    
    .case-study-content {
      max-width: 80vw; /* Set maximum width for content */
      width: 100%; /* Ensure content takes up full width of the wrapper */

    }

    .case-study-body p {
      max-width: 100%; /* Limit paragraph width */
      width: 100%; /* Ensures it doesn’t exceed max-width */
      margin: 0 auto; /* Centers the paragraph container */
    }

    .case-study-body h2 {
      max-width: 100%; /* Limit paragraph width */
      width: 100%; /* Ensures it doesn’t exceed max-width */
      margin: 0 auto; /* Centers the paragraph container */
      margin-top: 1em; /* Adjust this value as needed */
    }

    .gatsby-resp-image-wrapper {
      max-width: 100vw !important; /* Make it larger than viewport */
      width: 100vw !important; /* Expand beyond container */
      margin: 0vw -10vw !important; /* Centers the paragraph container */
    }

}


/* password pages */
.passwordpage form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  flex-wrap: wrap;
  gap: 2em;
}


.passwordinput {
  flex: 1;
  width: 100%; /* Full width */
  max-width: 400px; /* Max width for the input */
  padding: .5em; /* Padding inside the input */
  font-size: 1em; /* Font size */
  font-family: 'Karla', sans-serif; /* Font family */
  border: 2px solid #47b566; /* Border color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove the default outline */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus state */
  margin-right: 16px;
  min-width: 200px;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 10em; /* Adjust this value based on your header height */
}